$active-color: #00acdc;
$main-accent: #060b35;
$secondary-accent: #616070;
$card-title-color: #34568b;
$background-active: #fff;
$border: #f3f3f3;
$grid-settings: (
  488px: 2,
  768px: 3,
  1024px: 4,
);
$card-width: 200px;
$star-size: 16px;
$star-gap: 4px;
$catalog-padding-inline: 40px;
$catalog-padding-block: 50px;
$catalog-gap-inline: 48px;
$catalog-gap-block: 46px;
