$active-color: #00acdc;
$main-accent: #060b35;
$secondary-accent: #616070;
$blue-accent: #00acdc;
$nav-link-color: #060b35;
$background-active: #fff;
$border: #f3f3f3;
$grid-settings: (
  488px: 2,
  768px: 3,
  1024px: 4,
);
$card-width: 200px;
